In [2]:
import pandas as pd

In [10]:
# simple dataframe

import pandas as pd

pd.set_option("display.max_columns", 7)
df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv")

# display(df[0:5])
df.head()

    mpg  cylinders  displacement  ... year  origin                       name
0  18.0          8         307.0  ...   70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...   70       1          buick skylark 320
2  18.0          8         318.0  ...   70       1         plymouth satellite
3  16.0          8         304.0  ...   70       1              amc rebel sst
4  17.0          8         302.0  ...   70       1                ford torino

[5 rows x 9 columns]

In [15]:
pd.set_option("display.max_columns", 10)
pd.set_option("display.max_rows", 5)

display(df)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
...,...,...,...,...,...,...,...,...,...
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10