In [1]:
import pandas as pd

In [2]:
# simple dataframe

import pandas as pd

# pd.set_option("display.max_columns", 7)
df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv")

# display(df[0:5])
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
# pd.set_option("display.max_columns", 10)
# pd.set_option("display.max_rows", 5)

display(df)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
df.select_dtypes(include=["int", "float"])

      mpg  cylinders  displacement  weight  acceleration  year  origin
0    18.0          8         307.0    3504          12.0    70       1
1    15.0          8         350.0    3693          11.5    70       1
2    18.0          8         318.0    3436          11.0    70       1
3    16.0          8         304.0    3433          12.0    70       1
4    17.0          8         302.0    3449          10.5    70       1
..    ...        ...           ...     ...           ...   ...     ...
393  27.0          4         140.0    2790          15.6    82       1
394  44.0          4          97.0    2130          24.6    82       2
395  32.0          4         135.0    2295          11.6    82       1
396  28.0          4         120.0    2625          18.6    82       1
397  31.0          4         119.0    2720          19.4    82       1

[398 rows x 7 columns]

In [5]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [25]:
# # Accessing columns in df
# df["mpg"]

# # access rows which have mpg value = 9
# df[df["mpg"] == 9]

# access rows with values greater than 10
df[df["mpg"] >= 10]

# find number of rows that have mpg values greater than 30
df[df["mpg"] >= 40]["name"]

# display mpg and name columns that have mpg > 40
df[df["mpg"] >= 40][["name", "mpg"]]

# display max values in each row
df.max(axis=0)

mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                 230.0
weight                      5140
acceleration                24.8
year                          82
origin                         3
name            vw rabbit custom
dtype: object

# Handling Missing Values

In [8]:

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", na_values=["NA", "?"]
)

In [10]:
missing_values = df.isnull().sum()
print(missing_values)

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64